/.gradle/8.0/executionHistory/executionHistory.bin
/.idea/.gitignore
/.idea/modules/03-inheritance-milan-panta.main.iml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.0/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.0/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.0/fileHashes/fileHashes.bin
/.gradle/8.0/fileHashes/fileHashes.lock
/.gradle/8.0/dependencies-accessors/gc.properties
/.gradle/8.0/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.gradle/8.0/fileChanges/last-build.bin
/.idea/misc.xml
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/vcs.xml
